/*Geral*/

@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500&display=swap');

:root {
    --paragrafo: rgb(90, 90, 90);  
    --desc_img: rgba(0, 0, 0, 0.836); 
    --backgroudtopo: rgb(10, 33, 49); 
    --textonava: rgb(18, 95, 126);
}
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: Mitr;
    font-weight: 300;
}
/*corpo*/

body {
    max-width: 1440px;
    margin: 0 auto;
}

.topo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 3em;
    background-color: var(--backgroudtopo);
}
.menu_principal ul li{
    display: inline-block;
    margin-left: 15px;
}
.menu_principal a {
    text-transform: uppercase;
    color: var(--textonava);
    transition: .3s ease;
}
.menu_principal a:hover {
    color: rgb(9, 54, 71);
}
header {
    background-image: url(ProjetoFashion_inicio/imagens/topo.jpg);
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

/*seção um*/
.um {
    margin: 100px;
    text-align: center;
    color: var(--paragrafo);
}
.texto h1 {
    font-size: 2em;
    font-weight: 500;
    color: black;
    margin-bottom: 30px;
}  

/*fotos*/

.fotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    color: var(--paragrafo);
    margin-bottom: 100px;
}
figcaption {
    color: var(--desc_img);
    text-transform: uppercase;
    font-weight: 400;
}

/*secao dois*/

.dois {
    background-image: url(ProjetoFashion_inicio/imagens/bg_detalhe.png);
    padding: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    text-align: left;
    color: #fff;
}
.dois h2 {
    font-size: 4em;
    font-weight: 400;
    max-width: 800px;
    line-height: 1;
    text-transform: uppercase;
}
.dois p {
    margin-top: 30px;
    max-width: 600px;
}

/*contato*/

.contato h2 {
    margin: 60px auto;
    text-align: center;
    color: rgb(8, 55, 73);
    font-weight: 500;
    max-width: 300px;
    text-transform: uppercase;
}
.mapa {
    max-width: 1440px;
}
.mapa iframe {
    width: 100%;
    height: 440px;
}

/*footer*/

footer {
    margin-top: 30px;
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--backgroudtopo);
    color: var(--textonava);
}

/*Responsivo*/

@media (max-width: 1200px) {
    header {
        height: 60vh;        
        background-size: cover;
        background-position: top;
    }
    .dois h2 {
        font-size: 2em;
    }
    .texto p {
        font-size: .8em;
    }
}
@media (max-width: 800px) {
    .fotos {
        margin: 100px;
    } 
}
@media (max-width: 700px) {
    header {
        background-size: 700px;
        background-position: top;
        margin-bottom: -200px;
    }
    .um h1 {
        font-size: 1.5em;
    }
    .texto p {
        font-size: .6em;
    }
    .menu_principal a {
        font-size: .5em;
    }
  
}
@media (max-width: 500px) {
    .um {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 80px;
    }
}
